/* 需求：在大屏  1280 里面  背景色是红色
		在中屏里面 970 - 1279 背景色是绿色
		在小屏幕里面 970一下 背景色是蓝色  */

/*方法一：*/

/*@media(min-width:1280px ){*/
  /*body{*/
    /*background-color:red;*/
  /*}*/
/*}*/
/*@media(min-width:970px) and (max-width:1279px ){*/
  /*body{*/
    /*background-color:green;*/
  /*}*/
/*}*/
/*@media(max-width:969px ){*/
  /*body{*/
    /*background-color:blue;*/
  /*}*/
/*}*/


/*方法二：*/
/* 内嵌式迭代式写法 */
/* 迭代式写法技巧：先写大范围的，然后用小范围的去覆盖大范围
小范围的一定是写在大范围的后面 */

@media  (min-width: 0px) {
  body{
    background-color:blue;
  }
}
@media  (min-width: 970px) {
  body{
    background-color:green;
  }
}
@media  (min-width:1270px) {
  body{
    background-color:red;
  }
}